<html>
  <head>
    <meta charset="UTF-8">
    <title>SH 24 test app</title>
    <link rel="stylesheet" href="template.css">
  </head>
  <body>
    <div class="container">
      <img class='logo' src="horsejs.png">
      <div class='top-line'>
        <span class='title'>horse_js</span>
        <span class='timeago'>7 days</span>
      </div>
      <div class='description'>
        as much as I want to be, I'm not <a href="https://twitter.com/horse_js">@horse_js</a>
      </div>
    </div>
    <img src="test.png" class='template-img'>
  </body>
</html>